@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto:wght@400;700&family=Sora:wght@400;700;800&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ol,
ul,
a {
  list-style: none;
  text-decoration: none;
}

/* Mobile first */
.app {
  min-height: 100vh;
  padding-bottom: 50px;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #ffcc5c;
}

.nav h1,
.nav h3 {
  display: inline-block;
  font-size: 20px;
  color: #1f1f1f;
}

.nav h3 {
  font-size: 16px;
  padding: 0 5px;
}

.icon {
  color: #1f1f1f;
  border-right: 2px solid #1f1f1f;
  padding: 0 7px;
  height: 20px;
}

/* Home page */
.home-img {
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  margin: 60px auto;
}

.home-container h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.home-container p {
  font-size: 16px;
  line-height: 1.2;
}

.home-container button {
  margin: 80px 0;
}

.btn-dark {
  padding: 10px 15px;
  font-weight: 700;
  border-style: none;
  background-color: #1f1f1f;
  color: #f3f3f3;
  border-radius: 5px;
  margin: 0;
}

.btn-yellow {
  padding: 10px 15px;
  font-weight: 700;
  border-style: none;
  background-color: #ffcc5c;
  color: #1f1f1f;
  border-radius: 5px;
  margin: 0;
}

.home-hero {
  border-left: 5px solid #ffcc5c;
  border-radius: 5px;
  padding: 20px 0 20px 20px;
}

/* SignUp / Login*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 320px;
  margin: 90px auto;
  text-align: center;
}

.form-container form {
  margin: 30px auto;
}

.form-input-dark {
  min-width: 92%;
  margin: 5px 0;
  padding: 10px 10px;
  background-color: #1f1f1f;
  border-style: none;
  border: 1px solid #3f3f3f;
  color: #f3f3f3;
}

.form-input-light {
  min-width: 92%;
  margin: 5px 0;
  padding: 10px 10px;
  background-color: #eeeeee;
  border-style: none;
  border: 1px solid #3f3f3f;
  color: #1f1f1f;
}

input::placeholder {
  font-size: 14px;
}

input:focus {
  outline: none;
  border: 1px solid #ffcc5c;
}

.form-container form button {
  width: 100%;
  margin: 50px 0;
  border-radius: 0;
}

.btn-light {
  padding: 10px 15px;
  font-weight: 700;
  border-style: none;
  background-color: #f3f3f3;
  color: #1f1f1f;
  border-radius: 5px;
}

.form-container button {
  margin: 20px auto;
}

.error-message {
  display: inline;
  position: relative;
  font-size: 18px;
  margin-left: 40px;
}

.x {
  position: absolute;
  display: inline;
  margin-top: -8px;
}

/* User Home */
.search-artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 320px;
  margin: 60px auto 5px auto;
}

.logout-btn {
  cursor: pointer;
}

#filter-input {
  margin-top: 30px;
}

#filter-input:last-child {
  margin-top: 5px;
}

.country-filter {
  float: left;
  width: 320px;
}

.country-filter span {
  font-size: 16px;
}

.select-dark {
  width: 75%;
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: #1f1f1f;
  border-style: none;
  border: 1px solid #3f3f3f;
  color: #f3f3f3;
}

.select-light {
  margin: 5px 5px;
  padding: 5px 5px;
  background-color: #eeeeee;
  border-style: none;
  border: 1px solid #3f3f3f;
  color: #1f1f1f;
}

.select-dark:focus,
.select-light:focus {
  outline: none;
}

.search-artist p {
  font-size: 16px;
  margin-bottom: 20px;
  padding: 10px;
}

.search-artist button {
  text-align: center;
  min-width: 100%;
  margin: 10px 0 40px 0;
  border-radius: 0;
}

.artist-not-found {
  max-width: 300px;
  text-align: center;
  margin: auto;
  font-size: 16px !important;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 320px;
  margin: auto;
  padding: 30px 0;
  border-bottom: 3px solid #ffcc5c;
  line-height: 1.4;
}

.event-card h3 {
  font-size: 20px;
}

.event-card p {
  font-size: 16px;
}

.text-yellow {
  color: #ffcc5c;
  font-weight: 700;
}

.text-bold {
  font-weight: 700;
}

.event-card button {
  margin-bottom: 5px;
}

.event-card h5 {
  text-align: center;
  display: inline-block;
}

.mb1 {
  margin-bottom: 10px;
}

.mb3 {
  margin-bottom: 30px;
}

.icon {
  cursor: pointer;
}

.icon-light {
  color: #f3f3f3;
  margin-right: 15px;
  cursor: pointer;
}

.icon-dark {
  color: #3f3f3f;
  margin-right: 15px;
  cursor: pointer;
}

.back-to-top-yellow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  color: #ffcc5c;
  cursor: pointer;
}

.back-to-top-dark {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 50px;
  color: #3f3f3f;
  cursor: pointer;
}

.social-icons {
  margin-top: 15px;
}

/* Concert List */
.concert-list {
  margin-top: 50px;
}

.concert-list h3 {
  margin-bottom: 10px;
}

.flex-card-list {
  /* margin-top: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
}

.mb2 {
  margin-bottom: 20px;
}

.my-list > h1 {
  text-align: center;
  font-size: 22px;
  margin: 50px 0 30px 0;
}

@media screen and (min-device-width: 768px) {
  /* Home */
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(./images/pien-muller-Fh-Q-xfdh_o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
  }

  .hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }

  .hero p {
    max-width: 600px;
  }

  .home {
    font-size: 18px;
    line-height: 1.2;
  }

  .hero button {
    max-width: 300px;
    margin-top: 50px;
  }

  .btn-dark,
  .btn-yellow,
  .btn-light {
    display: block;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }

  /* Forms */
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 340px;
    min-height: 80vh;
    margin: auto;
  }

  .form-container h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .form-container button {
    width: 60%;
  }

  .form-input-dark,
  .form-input-light {
    padding: 12px 10px;
  }

  /* User Home */
  .search-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 700px;
    margin: 100px auto 5px auto;
  }

  .search-artist p {
    font-size: 22px;
  }

  .div-search-input {
    overflow: hidden;
    padding-right: 18px;
    margin-bottom: 50px;
  }

  #search-input {
    display: inline;
    width: 600px;
  }

  .event-card {
    max-width: 700px;
  }

  .flex-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  .event-card h5 {
    margin: 0;
  }

  .event-card button {
    margin-bottom: 0px;
  }

  /* Concert List */
  .mb2 {
    margin-bottom: 0px;
  }

  .my-list h1 {
    font-size: 26px;
  }
}

@media screen and (min-device-width: 1100px) {
  .bg-yellow {
    background-color: #ffcc5c;
  }

  /* Nav */
  .nav {
    padding: 30px 20px;
    max-width: 1100px;
    margin: auto;
  }

  .nav h1 {
    font-size: 24px;
  }

  .nav h3 {
    font-size: 20px;
  }

  .back-to-top-yellow,
  .back-to-top-dark {
    transition: all 0.3s ease-in;
  }

  .btn-dark:hover,
  .btn-yellow:hover,
  .btn-light:hover,
  .back-to-top-yellow:hover,
  .back-to-top-dark:hover {
    transform: scale(1.1);
  }

  /* User Home */
  .search-artist {
    max-width: 800px;
  }

  #input-fr {
    float: right;
    padding: 13px 30px;
    margin-top: 5px;
    border-radius: 0;
  }

  #search-input {
    display: inline;
    width: 600px;
  }

  .event-card {
    max-width: 800px;
  }
}
